    body {padding: 1px; background: #FFFFFF;}
      p, body, table {font-family: "Arial Unicode MS", verdana, arial; font-size: 85%;}
      i {font-family: georgia, arial}
      table { border: 1px solid #cdc1ae; border-collapse: collapse; padding: 0px; margin: 1px;}
      TH {border: 1px solid #cdc1ae;  }
      /* DL {border: 2px solid #dad3ce; margin: 1px 80px ;}*/
      DT {text-align: left; border: 1px solid white; border-bottom: 1px solid #d5cdbf; border-right: 1px solid #e5dfce; color: #817e70;margin: 2px 80px ; padding: 5px 10px;  background: #FBFBFB; font-weight: bold;
       -moz-border-radius: 1em; -webkit-border-radius: 1em; border-radius: 1em;
background-attachment: scroll;
background-clip: border-box;
background-color: transparent;
background-image: url('commentBg.jpg');
}
      DD {text-align: justify; margin: 0px 80px ; padding: 2px 50px 2px 80px; background: white; vertical-align: top; line-height:175%}
      dd p {margin: 0px; padding: 1px}
      TD {border: 1px solid #cdc1ae; padding: 2px;vertical-align: top;}
      TR { padding: 2px;background:#ffffff ; }
      h1 {font-family: "Trebuchet MS", Georgia, Garamond; letter-spacing: .2em;font-size: 13pt; color: #345E7E; font-weight: normal;}
      pre {font-family: "Lucida Console", "Lucida Sans Unicode"}
      A:link{Color : #00008B; Font-Family : Arial, Helvetica, sans-serif;Text-Decoration : none; }
      A:visited{Color : #00008B;Font-Family : Arial, Helvetica, sans-serif;Text-Decoration : none;}
      A:hover{Color : #A0522D;Font-Family : Arial, Helvetica, sans-serif;Text-Decoration : none;}
   .ref a:link{font-weight: normal;    color: #2E8B57; border-bottom: 1px dotted #DAA520; }
     .ref a:visited{font-weight: normal; color: #2E8B57; border-bottom: 1px dotted #DAA520; }
     .ref a:hover{font-weight: normal;   color: #1E90FF; border-bottom: 1px dotted #FF6347;}

      .info {color: #bbbbbb; padding: 3px}
      .even {background-color: #f5f0df}
      input {border:1px solid #a3a3a3;background: #FFFEF6; margin: 5px;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: .3em;       
       }
      .button {border:1px solid #d6d1c0; background: #F7F7F0;}
      table.search {border: 0px; background: white;}
      table.search td {text-align: right; border: 0px}
      .dbg {color:#eaebec} /* #e7e7cc */
      .prev{display: inline; float: left; text-align:left; width: 100px; }
      .next{display: inline; float: right; text-align: right; width: 100px; }
      select {font-family: Calibri, "Trebuchet MS"; background-color: white; color: gray; border:1px solid #b6b099;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: .3em;        
       }
      .star {color:#395666}
      .m1{  display: inline}
      .m2{margin-left: 10px;  display: inline}
      .m3{margin-left: 18px;  display: inline}
      .m4{display: inline}
      .m2 b i {color: #996300}
      .p1 {color: #333b14}
      .col1{color: #660066}
      .col2{color: #006600}
      .col3{color: #857d49}
      .ex {color: #000099; color: #ca6900; font-family: arial; padding-left:5px}
      .com{color: darkred}
      .stress {font-weight: bold; font-style:normal}
      .ref{font-weight: bold; color: #009999}
      .col_darkslategray{color: Gray;}
      .col_darkblue {color:#660066; text-decoration: underline; font-weight:normal}
      .col_green {color:darkgreen; font-style:italic;font-family:serif}
      .nobrd {border: 0px}
      //.h {background-color: #ffff99; border: 0px; border-bottom: 2px dotted #ffe88c; }
      .h {background-color: #ffff99; border: 1px solid #ffe88c; }
      .cent{text-align:center;}
.error  {
	color: red;
	background: #ffe4b5;
	border: 1px dotted #ff8c00;
	list-style: none;
	padding: 3px 5px;
	margin: 10px 0px 0px 0px;
}
a.uml:visited {
color:#589E92;
}
a.uml {
cursor:crosshair !important;
padding-left:0.3em;
padding-right:0.3em;
color:#589E92;
}
/* start of wordref styles*/
span.EsIPA { font-family:"Lucida Sans Unicode", "Arial Unicode MS","Lucida Grande"; color: blue; font-size: 10pt; }
.small1 {font-size: 70%; color:gray;font-variant: small-caps}
tr.even {background-color: #e8e8ff;vertical-align: top}
tr.odd  {background-color: white;vertical-align: top}
td.Head {padding-left:0px; padding-right: 10px; font-weight: bold; font-size:13px; text-decoration:underline; line-height:30px}
td.FrW  {padding-left:10px;font-weight: bold;}
td.FrCN {padding-left:15px;}
td.POS  {padding-left:10px; color:#524BD3;}
span.POS    {padding-left:10px; color:#524BD3;}
td.ToW  {padding-left:10px;padding-right:5px}
td.Ex   {padding-left: 20px; color:SlateGray;}
b.Fr        {margin-left:-5px;}
td.FrW, td.FrCN, td.ToW, td.Head, td.Ex, td.POS{cursor:pointer;}

#Rtbl2      {position:absolute; right: 0px; top:278px; width:400px; border: solid 1px black;}
table.Rtbl2 {border: solid 1px white; line-height:16px; border-collapse:collapse;}
td.FrW2     {padding-left:5px;font-weight: bold;}
td.To2      {text-indent: 50px;font-style: italic}
td.FrCN2, td.ToW22, td.POS2 {padding-left:5px;}
td.ToCN2    {padding-left:20px; font-style: italic}
td.ToW2 {padding-left:5px; padding-right: 5px}
td.Ex2, td.ToEx2    {padding-left: 5px; padding-right:5px; color:SlateGray;}
td.FrEx2    {padding-left: 5px; padding-right:5px; color:#483D8B;}
td.ToNt2    {padding-left: 5px; padding-right:5px; color:red;}
span.POS2   {padding-left:2px;}
.POS2       {color:#524BD3; font-style: italic;}
td.FrW2, td.FrCN2, td.ToW2, td.Head, td.Ex2, td.FrEx2, td.ToEx2, td.ToCN2, td.ToNt2, td.ToW22, .To2, .POS2 {cursor:pointer;}
tr.evenEx {background-color: #e8e8ff;vertical-align: top}
tr.oddEx  {background-color: white;vertical-align: top}
tr.evenExHide, tr.oddExHide {display:none}

div.actions,div.closeWords {border: solid black 1px; background-color:white; padding-bottom:3px}
div.closeWords {font-size:11px; font-family:verdana,arial;}
div.closeWordsH,div.actionsH {border-left: solid black 1px; border-right: solid black 1px; border-top: solid black 3px;}

iframe.iframeright {margin-right:3px}
a#copyright {font-size:x-small; font-family:verdana}
ul.links {margin:0px;padding-left:15px;font-size:12px;}

td.nums1    {font-weight:bold;color:#5E58C7; vertical-align:top;text-align:right}
td.roman1   {font-weight:bold;color:#5E58C7; vertical-align:top;font-size:16px;}
span.roman1 {font-weight:bold;color:#5E58C7; vertical-align:bottom;}
span.b  {font-weight:bold;}
span.i, .bl {color:#003399;}
span.r  {color:red;}
span.ic {font-style:italic;color:#003399;}
span.supr1  {vertical-align:super;color:#003399;}
span.ac {font-variant:small-caps;color:red;font-weight:bold;}
div.trans   {padding:0px}
ol.entry li {margin-top:5px;}

.hide   {display:none}
.abb, .cfrf, .con, .contr, .cvf, .divar, .ell, .ex, .exp, .exs, .fem, .fm, .frm, .hcvf, .dex,
.hcw, .idx, .inf, .mex, .mod, .nh, .prv, .pvb, .pvbv, .sig, .var, .x, .xi, .xrru,
.cw, .phw, .stxt, .cmp, .dex, .femv, .frmv, .vcp, .prvx, .idm, .cv, .cx, /* xg added from compare (where?), xr removed for deC; itenP xr, not xg */
.ef, .fs, .lc, .le, .li, .lo, .lp, .ls, .lu, .lv, .sb, .sl, .sp, .v, .vs, .G, .G2, .VF, .CG, .lemma, .fordiv, .cv, .nv,
.f, .h2, .rb, .rbi, .pg, .bp, .pvv  /* pv removed for it, since pv not allowed, pg added for de */
{font-weight:bold; color:black}
.adj, .advex, .fld, .gl, .i, .ind, .lev, .mx, .nb, .vbs,
.nex, .qdef, .qenc, .qnb, .qsyn, .syn, .u, .vbx, .vix, .ctx, .collo, .ix, .xg,
.ico, .cs, .fi, .a, .ei, .ri, .co, .cs, .C, .CO, .CB, UC
{font-style:italic}

.hw,.vpr, .nw, .ihw, .bhw  /* bhw restrored for DeEn ; .ihw moved for es "K"; , .ct removed for German Rechen- */
{font-weight:bold; text-decoration:underline}
.GG     {font-weight:bold; font-style:italic}
div.id, div.cpd
{padding-left:0px; font-weight:bold}
.reg, .fam, .coll, .la, .ide /* .ide removed  for Concise, but then puut back*/
{font-style:italic; font-weight: normal}
.ps, .qps, .psv, .psyn, .ind, .pos, .gr, .infg, .u, .ei, .P, .indv, .old
{color:#003399; font-style:italic}

.ul         {text-decoration: underline}
.stln   {border-bottom: 1px solid black}
.sc, .xs, .hl, .fx, .M, .fhl
{font-variant: small-caps; text-transform:lowercase}
.xr     {font-variant: small-caps; font-style:normal;} /* xr is diff itP, deC */
.hm, .su, .hom, .APICE, .sup, .tab
{vertical-align: super; font-size:10px}
.sub    {vertical-align: sub; font-size:8px}
.psec, .ol, .vsec, .lemma, .catgram, .artsem, .o, .divgr, .cb, .hg .ps, .fordiv, .base, .hbase
{display: block;}
.fp, .para
{display: block;padding-top:10pt}
.un, .divgr, .approfondimento, .cgl, .fun
{display: block; border: 1px solid black; padding:5px; background: white}
.scw, .scvf, .hbhw, .ix, .cn, .bhwes, .base /*  show the cbhg header for DE? Yes, bbut hide hbhw; .base added for compounds*/
{display: none}
.infg br, .pp br, .infmorf br, .la br, .ei br
{display:none}
ol      {padding-left: 20px;margin:2px;margin-left:5px}
.ph, .fonetica      { font-family:"Lucida Sans Unicode", "Arial Unicode MS","Lucida Grande"; color: #003399; font-size: 10pt; }
.qreg   {font-family: arial narrow; }
.xsdr   {font-family: times}
#temp,
.sg, .pg, .cpd, .ct, .ne, .eg
{display: block}
/* for IT*/
.se1, .pvp {display: block; padding-left:20px}

.clickable {cursor:pointer;}
